html,body{
    margin: 0;
    padding: 0;
    font-family: "Abel";
}
@mixin clearFix{
    &::after{
        content: "";
        display: block;
        clear: both;
    }
}
.container-fluid{
    width: 100%;
    box-sizing: border-box;
    .row{
        @include clearFix;
        .col-md-2{
            padding: 0;
            img{
                width: 200px;
                height: auto;
                color: black;
                transition: 200ms;
                // background: #eee;
                // border-radius: 10px;
                &:hover{
                    animation: vibrate;
                    animation-duration: 0.7s;
                    // -moz-animation-iteration-count: 5;
                    cursor: pointer;
                }
            }
        }
        .col-md-3{
            // padding-right: 5px;
            padding: 0;
            h3{
                color: rgb(1, 157, 221);
                margin-top: 50px;
                font-size: 28px;
                text-transform: capitalize;
                // font-family: cursive;
                text-shadow: 
                0px 1px 5px rgb(1, 157, 221),
                 0px 2px 2px rgb(0,0,0),
                  0px 4px 2px rgb(0,0,0),
                   0px 2px 1px rgb(0,0,0);
                   &:hover{
                       text-shadow: 0px 1px 5px rgb(1, 157, 221),
                       0px 2px 2px rgb(0,0,0);
                       cursor: pointer;
                   }
                &::first-letter{
                    font-size: 30px;
                    font-family: cursive;
                }
                span{
                    font-size: 30px;
                    font-family: cursive;
                }
            }
        }
        nav{
            position: sticky;
            top: 0;
            padding: 0px 100px; 
            width: 100%;
            height: 40px;
            // box-shadow: 0px 18px 20px -9px rgba(0, 0, 0, 0.35);
            z-index: 100;
            // background: 
            // &:hover{
            //     box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.35);
            // }
            @include clearFix;
            ul{
                // position: sticky;
                // overflow: hidden;
                margin: 0 60px;
                @include clearFix;
                li{
                    // position: sticky;
                    // overflow: hidden;
                    float: left;
                    height: 40px;
                    line-height: 25px;
                    display: block;
                    text-align: center;
                    // padding: 10px;
                    list-style: none;
                    border-radius: 5px;
                    transition: 500ms;
                    position: relative;
                    &:hover{
                        background: rgb(1, 157, 221);
                    }
                    &:hover ul{
                        display: block;
                        background: rgb(1, 157, 221);
                    }
                    &:hover a{
                        color: white;
                    }
                    // @include clearFix;
                    a{
                        text-decoration: none;
                        display: block;
                        font-size: 15px;
                        padding: 10px;
                        color: black;
                        text-transform: capitalize;
                        font-weight: bold;
                    }
                    ul{
                        // position: sticky;
                        // overflow: hidden;
                        display: none;
                        // transition: 5000ms;
                        margin: 0;
                        padding: 0;
                        position: absolute;
                        z-index: 100;
                        // top: 0;
                        li{
                            z-index: inherit;
                            a{
                                display: block;
                                margin: 0px 10px;
                                z-index: 1000;
                                // width: 80px;
                            }
                        }
                    }
                }
            }
        }
    }
    .col-md-12{
        padding: 0;
        box-sizing: border-box;
        border: 1px solid transparent;
        box-shadow: inset 10px 50px black;
        overflow: hidden;
        z-index:100;
        img{
            filter: grayscale(10%);
            filter: blur(1px);
            width: 100%;
            height: auto;
            transition: 10s;
            overflow: hidden;
            animation-name: scale;
            animation-duration: 25s;
            animation-delay: 0.5s;
            -moz-animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes vibrate{
    from{
        // transform: translateY(-5px);
        transform: rotate(360deg);
    }
    to{
        transform: rotate(-360deg);
    }
}
@keyframes scale{
    0%{
        transform: scale(1);
        overflow: hidden;
        filter: blur(5px);
    }
    50%{
        filter: blur(2px);
    }
    100%{
        transform: scale(1.2);
        overflow: hidden;
        filter: blur(0px);
    }
}